{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div class ="reservation">
    <h1>Create a Restaurant Reservation</h1>
    <form>
        <div>
            <label>First Name</label>
        <input>
        </div>
        <div>
          <label>Last Name</label>
        <input>
        </div>
        <div>
          <label>Phone Number</label>
        <input>
        </div>
        <div>
          <label>Email</label>
        <input>
        </div>
        <div>
          <label>Reservation Date</label>
        <input>
        </div>
        <div>
          <label>Reservation Time</label>
        <input>
        </div>
        <div>
          <label>Party Number</label>
        <input>
        </div>
        <button>Submit</button>
    </form>

</div>
{% endblock %}